.body1{
    background:linear-gradient(119.13deg, #FFFFFF, #E7E7E7);
    display:flex;
    align-items: center;
    justify-content: center;
    padding:70px;
   
}

.form{
    
    width: 25vw;
    height: 37vw;
    
    background: #FFFFFF;
    border-radius: 21px;
}

section{
    margin-top: 5vh;
    padding: 0 5vw 2em;
    background:linear-gradient(119.13deg, #FFFFFF, #E7E7E7);
}

.form .heading h1{
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    margin-top: 1em;
}

.h1{
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    margin-top: 1em;
}

.form .add-news{
    display:flex;
    align-items: center;
}

.form .form-title,
.form .form-Link,
.form .form-description{
    width: 100px;
    height: 30px;
    margin:30px;
    position: relative;
    
}

.form-title input,
.form-Link input,
.form-description textarea{
    display: block;
    border:none;
    height:20px;
    font-size:14px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    width: 20vw;
    height:2vw;
}

.form-title input:hover,
.form-Link input:hover,
.form-description textarea:hover{
   
    border-bottom-width: 1.5px;
    border-image:linear-gradient(to right, #2D91DE, #754798) 1;
}

.form-title input:focus,
.form-Link input:focus,
.form-description textarea:focus{
    outline-color: #2D91DE;
}

.form-description textarea{
    resize: none;
    border: 2px solid #E7E7E7;
    box-sizing: border-box;
    height:100;
    width:200;
}

#id_Short_Description{
    resize: none;
    border: 2px solid #E7E7E7;
    width: 20vw;
    height:10vw;
}


.form-title label,
.form-Link label,
.form-description label{
    position:absolute;
    font-size: 15px;
    pointer-events: none;
    width: 100%;
    bottom:40px;
}

/*#button1{
    position: relative;
    display: block;
    border:none;
    height:30;
    width:200;
    font-size:12px;
    margin: 30px;
    top: 60px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    background: linear-gradient(90deg, #2D91DE 0%, #754798 100%);
    color:#FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1px;
}*/

.body{
    background:linear-gradient(119.13deg, #FFFFFF, #E7E7E7);
    padding:40px;
    
  
}

h1{
    justify-content: center;
    display:flex;
    margin-top: 3vw;
}

.row{
    padding: 40px;
    display: flex;
    justify-content: center;

}

.col-sm-6{
    margin-top: 30px
}

.card{
    border-radius: 21px;
}

#button{
    position: relative;
    display: block;
    height:35;
    width:200;
    font-size: 13px;
    background: linear-gradient(90deg, #2D91DE 0%, #754798 100%);
    color:#FFFFFF;
    letter-spacing: 1px;
}

#button_add{
    position: relative;
    display: block;
    height:35;
    width:200;
    font-size: 15px;
    background: linear-gradient(90deg, #2D91DE 0%, #754798 100%);
    color:#FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    
}

h4{
    display: flex;
    justify-content:flex-end;
    margin-top: 30px;
}

@media only screen and (max-width:1000px) {
    .form {
        width: 25vw;
        height: 50vw;
    }
  }
