{% extends 'Home/base.html' %}
{% load static %}

{% block title %}
<title>About Us</title>
{% endblock %}

{% block style-css %}
<link rel="stylesheet" href="{% static 'home/styleHome.css' %}">
{% endblock %}

{% block sections %}
<section class="about d-flex flex-column justify-content-center">
	<div class="container-about rounded text-center mx-auto p-4">
		<div class="about-text mx-auto mb-5">
			<h3 class="mb-4"> About Us </h3>
			<p> Hello! We are from Faculty of Computer Science, University of Indonesia. <br /> This web is created to help anyone manage their schedule and get an up-to-date news in this pandemic situation. </p>
		</div>
		<div class="linked-in-container">
			<div class="author">
				<span class="social"><img src="{% static 'img/logo-linkedin-custom-plandemic.svg' %}"><a href="https://www.linkedin.com/in/aisha-salsabila-0904/"> Aisha Salsabila</a> </span>
				<span class="social"><img src="{% static 'img/logo-linkedin-custom-plandemic.svg' %}"><a href="https://www.linkedin.com/in/alisha-yumna-bakri-922682166/"> Alisha Yumna Bakri</a> </span>
				<span class="social"><img src="{% static 'img/logo-linkedin-custom-plandemic.svg' %}"><a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4"> Kaysa Syifa </a> </span>
				<span class="social"><img src="{% static 'img/logo-linkedin-custom-plandemic.svg' %}"><a href="https://www.linkedin.com/in/zaidan-ariiq-29048a193/"> M. Zaidan Ariiq </a> </span>
				<span class="social"><img src="{% static 'img/logo-linkedin-custom-plandemic.svg' %}"><a href="https://www.linkedin.com/in/nabiladita/"> Nabila Dita </a> </span>
			</div>
		</div>

		<br><br>
		<div class="main-feedback-section">
			{% include 'Home/feedback.html' %}
		</div>
		
	</div>
</section>

<script>
	$(document).on('submit', '.comment-form', function(event){
		event.preventDefault();
		$.ajax({
			type: 'POST',
			url: $(this.attr('action')),
			data: $(this).serialize(),
			dataType: 'json',
			success: function(response) {
				$('.main-feedback-section').html(response['form']);
				$('inputarea').val('');
			},
			error: function(rs, e) {
				console.log(rs.responseText);
			},
		})
	})
</script>

{% endblock %}