<!DOCTYPE html>
<html lang="en">
{% load static %}
	<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}

	{% endblock title %}

    <!--Montserrat Font-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
	crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->

	<link rel="stylesheet" href="{% static 'home/navbar.css' %}">
	{% block style-css %}

	{% endblock %}
	</head>

	<body>
	<!-- navbar -->
	<nav class="navbar navbar-expand-lg fixed-top">
		<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'Home:Home' %}">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'fun:fun_home' %}">FUN</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'planner:planner' %}">PLANNER</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> INFORMATION </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'info_covid:covid_case_per_country' %}">COVID-19</a>
						<a class="dropdown-item" href="{% url 'informasi_wfh:list_informasi_wfh' %}" >Work From Home</a>
						<a class="dropdown-item" href="{% url 'info_PJJ:Learn_From_Home' %}">Learn From Home</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'Home:About' %}">ABOUT</a>
				</li>
				
				<li class="nav-item">
					{% if user.is_authenticated == False %} 					
						<a class="nav-link active" type="submit" href="/accounts/login">LOGIN</a>
					{% else %}									
						<a class="nav-link active" type="submit" href="/accounts/logout">LOG OUT</a>
					{% endif %}
				</li>
				
			</ul>
		</div>
	</nav>
	{% block sections %}

	{% endblock sections %}
	</body>
</html>