{% load static %}

<div class="feedback-text mx-auto mb-1">
	<br>
	<h3 class="mb-4"> Feedback </h3>
	<p> Tell us about your experience on this web to make it better!</p>

	{% if user.is_authenticated %}
		<form method="POST" class="feedback-form" action="/about">
			{% csrf_token %}
			{{ form_feedback.as_p }}
			
			<input type="submit" value="Submit" class="btn btn-outline-success">
		</form>

		<br><br>

		<div class="justify-content-center">
			<h3><hr> {{ feedbacks.count }} Feedback{{ feedbacks|pluralize }} <hr></h3>
			<br>
			{% for feedback in feedbacks %}
				<blockquote class="blockquote">
					<p class="mb-0" style="font-size=1em">{{ feedback.content }}</p>
					<figcaption class="blockquote-footer">
						by <cite title="Source Title">{{ feedback.name|capfirst }}</cite>
					</figcaption>
				</blockquote>
				<br>
			{% endfor %}
		</div>
	{% else %}
		<p>Please <a class="social" href="/accounts/login">login</a> to give and view feedback(s)</p>
	{% endif %}
</div>