<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Home</title>

    <!--Montserrat Font-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/styleHome.css' %}">
</head>


<body>
    <h1 id="heading">PLANDEMIC</h1>

    <div class="container" onclick="expand()">
        <div class="toggle" id="toggle">
            <img src="{% static 'img/Group 11.svg' %}" class="img4">
        </div>
    </div>

    <div class="menu" id="menu">
        <div class="item">
            <a href="{% url 'fun:fun_home' %}">
                <img src="{% static 'img/Group 31.svg' %}"  class="img1">
            </a>
        </div>

        <div class="item">
            <a href="{% url 'Home:About' %}">
                <img src="{% static 'img/Group 8.svg' %}" class="img2">
            </a>
        </div>

        <div class="item">
            <a href="{% url 'info_covid:covid_case_per_country' %}">
                <img src="{% static 'img/Group 15.svg' %}" class="img3">
            </a>
        </div>

        <div class="item">
            <a href="{% url 'info_PJJ:Learn_From_Home' %}">
                <img src="{% static 'img/Group 25.svg' %}" class="img3">
            </a>
        </div>

        <div class="item">
            <a href="{% url 'informasi_wfh:list_informasi_wfh' %}">
                <img src="{% static 'img/Group 27.svg' %}" class="img3">
            </a>
        </div>

        <div class="item">
            <a href="{% url 'planner:planner' %}">
                <img src="{% static 'img/Group 26.svg' %}" class="img6">
            </a>
        </div>
    </div>

<script type="text/javascript"> /*cari google*/
var j=0;
var i=document.getElementById("menu").childNodes;
function expand(){
    if(j==0){

        i[1].style.transform='translateY(-160px)';
        i[3].style.transform='translate(140px,-80px)';
        i[5].style.transform='translate(140px,80px)';
        i[7].style.transform='translateY(160px)';
        i[9].style.transform='translate(-140px,80px)';
        i[11].style.transform='translate(-140px,-80px)';
        j=1;
        document.getElementById("heading").style.opacity=0;
        document.getElementById("heading").style.transition= "1s";

    }
    else{

        i[1].style.transform='translateY(0)';
        i[3].style.transform='translate(0)';
        i[5].style.transform='translate(0)';
        i[7].style.transform='translateY(0)';
        i[9].style.transform='translate(0)';
        i[11].style.transform='translate(0)';
        j=0;
        document.getElementById("heading").style.opacity=1;
        document.getElementById("heading").style.transition= "1s";
    }
}
</script>

</body>
</html>