{% extends 'wfh/base-wfh.html' %}

{% block title %}
<title>Add More Information</title>
{% endblock %}

{% block sub-section %}
<section class="add-section">
	<div class="box rounded">
		<h4> Add News </h4>
		<form action="{% url 'informasi_wfh:add_informasi_wfh' %}" method="POST">
        	{% csrf_token %}
        	{{ form.as_p }}
        	<input type="submit" value="ADD" class="submit"/>
    	</form>

	</div>
</section>
{% endblock %}
