{% extends 'Home/base.html' %}
{% load static %}
	{% block title %}
		{% block heading %}

        {% endblock heading %}
	{% endblock title %}

	{% block style-css %}
		<link rel="stylesheet" href="{% static 'wfh/wfh.css'  %}">
	{% endblock style-css %}
	
	{% block sections %}
		{% block sub-section %}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

		
		{% endblock sub-section %}
	{% endblock sections %}
	