{% extends 'wfh/base-wfh.html' %}

{% block heading %}
<title>Work From Home</title>
{% endblock %}

{% block sub-section %}
<section>
	<h3>Information About Work From Home</h3>
	<button class="rounded add_informasi px-3 py-2" data-modal-target='#wfhNews' id="addNews"> <a>Add more information</a> </button>

	<div class="wfh-news" id="wfhNews">
		<div class="box rounded" id="box">
			<h4> Add News </h4>
			<form method="POST" id="post-form" data-url="{% url 'informasi_wfh:list_informasi_wfh' %}">
	        	{% csrf_token %}
	        	{{ form.as_p }}
	        	<input type="submit" value="ADD" class="submit"/>
	    	</form>
		</div>
		
		<article class="text-left">
			{% for informasi in list_informasi %}
			<div class="card card-left">
				<div class="card-body">
					<h5 class="card-title">{{informasi.title}}</h5>
					<p class="card-text">{{informasi.short_Description}}</p>
					<a class="btn btn-primary" href={{informasi.link}} id="read-more"> Read more</a>
				</div>
			</div>
			{% endfor %}	
		</article>
	</div>
	<div id="overlay"></div>
</section>


<script  type="text/javascript">
$(document).ready(function($){
	const addNews = document.querySelectorAll('[data-modal-target]');
	const overlay = document.getElementById('overlay');

	$('#addNews').click(function() {
		const box = document.getElementById('box');
		box.classList.add('active');
		overlay.classList.add('active');
	});

	$(overlay).click(function(){
		const box = document.getElementById('box');
		box.classList.remove('active');
		overlay.classList.remove('active');
	});

    $("#post-form").submit(function(e){
        e.preventDefault();

       var serializedData = $('#post-form').serialize();

       $.ajax({
       		url: $('#post-form').data('url'),
       		data: serializedData,
       		type: 'post',
       		success: function(response){
       			$('article').append('<div class="card card-left"> <div class="card-body"> <h5 class="card-title">' + response.informasi.title + '</h5> <p class="card-text">' + response.informasi.short_Description + '</p> <a class="btn btn-primary" href="' + response.informasi.link +  '">Read more</a> </div> </div>');
       		const box = document.getElementById('box');
			box.classList.remove('active');
			overlay.classList.remove('active');
       		},
       });
       $("#post-form").trigger("reset");
    });
    
    $('.card-body').mouseover(function(){
    	var index = $('.card-body').index(this);
    	$('.card-body:eq('+index+')').css('background-color', '#e7e7e7');
    });

    $('.card-body').mouseleave(function(){
    	var index = $('.card-body').index(this);
    	$('.card-body:eq('+index+')').css('background-color', 'white');
    });
});
</script>
{% endblock %}