{% extends 'info_PJJ/base.html' %}

{% load static %}

<html>


    {% block heading %}
   
        <title>Add News Learn From Home</title>
    
    {% endblock heading %}

    {% block content %}
    
    <section class="body1">
        <div class="form">
            <div class="heading">
                <h1 style="text-align: center;font-family: Montserrat;margin-top: 1em;font-size: 30px;">Add News</h1>
            </div>

            <div class="add-news">

                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="form-title" style="width: 100px;height: 30px;margin:45px;right:1rem;position: relative;">
                        <label style="margin-bottom: 0;">Title</label>
                        {{form.Title}}
                    </div>

                    <div class="form-Link" style="width: 100px;height: 30px;margin:45px;right:1rem;position: relative;">
                        <label style="margin-bottom: 0;">Link</label>
                        {{form.Link}}
                    </div>

                    <div class="form-style" style="width: 100px;height: 30px;margin:45px;right:1rem;position: relative;bottom:2rem;padding-right: 0;">
                        <label>Description</label>
                        {{form.Short_Description}}
                    </div>
                    
                    <input type="submit" value="ADD" class="btn btn-primary btn-block" style="background: linear-gradient(90deg, #2D91DE 0%, #754798 100%);
                    color:#FFFFFF;text-transform: uppercase;border-bottom: 2px solid rgba(0, 0, 0, 0.12);position: relative;border:none;
                    height:30;width:20vw;font-size:12px;margin: 30px;top: 75px;letter-spacing: 1px;">
                </form>
            </div>

        </div>
    </section>


    {% endblock content %}
    </html>
