{% extends 'info_PJJ/base.html' %}

{% load static %}

{% block heading %}
<html>

<head>
  <title>Learn From Home</title>
 
</head>
    
{% endblock heading %}

{% block content %}
<body>


<section class="body">
    <h1>Information About Learn From Home</h1>
    
    <h4><a href="{% url 'info_PJJ:Add_News_PJJ' %}" class="btn btn-primary" id="button_add">Add More Information</a></h4>
    
    <div class="row">

      {% for news in News %}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{news.Title}}</h5>
              <p class="card-text">{{news.Short_Description}}</p>
              <a href="{{news.Link}}" class="btn btn-primary" id="button">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</section>

</body>
{% endblock content %}

</html>
