/*general*/
body{
	font-family: 'Montserrat', sans-serif;
	min-height: 85vh;
	padding: 2em;
	margin-top: 5vh;
}

h1, h2, h3 {
	background: -webkit-linear-gradient(270deg, #2D91DE 8.33%, #754798 95.47%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
	padding: 1vh;
	margin-bottom: 5vh;
	text-align: center;
}
h2{
	margin: auto;
	padding-bottom: 40px;
}


/*general style for country details card*/
.card{
	margin-bottom: 5vh;
	margin-left: 5vh;
	width: 300px;
	height: 320px;
	border-radius: 21px;
}

.row{
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

/*.row2{
	flex-wrap: wrap;
	flex-direction: row;
	border-radius: 20px;
	justify-content: center;
}*/

.card-title{
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 5vh;
	color: #FFFFFF;
}

.circle{
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(270deg, #2D91DE 8.33%, #754798 95.47%);
	clip-path: circle(180px at center 0);
	text-align: center;
	border-radius: 21px;
}

/*style for death cases*/
#death {
	background: linear-gradient(270deg, black 1%, red 99%);
}

#red {
	background: -webkit-linear-gradient(270deg,black 1%, red 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*style for total cases*/
#cases {
	background: linear-gradient(270deg, #2dbdde 8.33%, #2dded3 95.47%);
}

#blue {
	background: linear-gradient(270deg, #2dbdde 8.33%, #2dded3 95.47%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

section {
	margin-top: 2em;	
}
.add-section1 {
	
	background:linear-gradient(to bottom right, #FFFFFF, #E7E7E7);
}


/*table style*/
.table {
    width: 85vw;
}

#th-name{
	width: 5vw;
}

/*search box form style*/
form {
	margin-left: 5vw;
}

.form-style {
	padding: 0.5em;
	border: 0px solid black;
}

.form-style:focus{
	outline-color: transparent;
}
.search-box {
	width: fit-content;
}
.search-box:focus-within{
	box-shadow: 0px 0px 10px #2D91DE;
}

/*style for message if country isn't found*/
.fas {
  color: #2D91DE;
}
.alert {
	width:85vw;
}


