{% extends 'Home/base.html' %}
{% load static %}


{% block title %}
<title>Planner</title>
{% endblock title %}


{% block style-css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styleplanner.css'%}">
  <style>
    #addplan-toggle{
      border-radius: 5px;
      position: relative;
      display: block;
      width: 100%;
      padding: 10px;
      font-weight: 300;
      background-color: #2D91DE;
      color: white;    
      text-decoration: none;
      text-align: center;
      border: 0px;
    }
    .accordion-content{
      background-color: white;
    }
    #form-container{
      padding-bottom: 15px;
    }
    #keyword{
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      border-color: #2D91DE;
      border-radius: 5px;
      position: relative;
      display: block;
      padding: 10px;
      text-align: center;
    }
  </style>
{% endblock style-css %}


{% block sections %}
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Hello {{user.username}}!</h1>
<h3>Let's plan your day!</h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div  id="addplan-toggle" class="block"><h5>Add more plan</h5></div>
      <div class="accordion-content">
        <br>
        <br>
        <div class="container" id="form-container">
          <form method= "post" id="addplan-form" data.url="{% url 'planner:planner' %}">
            {%csrf_token%}
              <div class="fieldWrapper">
                <label for="{{ form.Title.id_for_label }}">Title:</label>
                {{ form.Title}}
              </div>
              <br>
              <div class="fieldWrapper">
                <label for="{{ form.Time.id_for_label }}">Time:</label>
                <br>
                {{form.Time}}
              </div>
              <br>
              <div class="fieldWrapper">
                <label for="{{ form.Description.id_for_label }}">Description:</label>
                {{ form.Description }}
              </div>
              <br>
              <button type="submit" class="btn btn-primary btn-block " id=button-add style="background: linear-gradient(90deg, #2D91DE 0%, #754798 100%); margin-bottom: 25px; margin-left: auto;
              margin-right: auto;">Add Plan</button>
          </form>
        </div>
      </div>
      <br>
      <br>
    </div>
    <div class="col-sm-8">
      <input id="keyword" placeholder="Search by title">
      <br>
      <div id="planlist">
        {% for t in plans %}
        <div class="card" id=card-planner>
          <h6 class="card-header">{{ t.Title }}</h6>
          <div class="card-body">
            <h5 class="card-title">{{ t.Time}}</h5>
            <p class="card-text">{{ t.Description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<br>
<br>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'script/planner.js'%}"></script>
{% endblock sections %}
