@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

html{
height: 100%;
}

body{
background: linear-gradient(119.13deg, #FFFFFF 3.18%, #E7E7E7 89.87%); 
font-family: "Montserrat";
background-repeat: no-repeat;
background-attachment: fixed;
}

#container-addplan{
background-color: white;
margin-top: 10%;
padding-right: 5%;
padding-left: 5%;
padding-top: 5%;
margin-bottom: 10%;
}

h1{
text-align: center;
font-weight: 600;
}

#button-add{
border: 0px;
border-radius: 0px;
}

#container-planner{
margin-right: auto;
margin-left: auto;
padding-left: auto;
padding-right: auto;
margin-bottom: 10%;
}

#card-planner{
margin-bottom:10px; 
max-width: 85%;
margin-left: auto;
margin-right: auto;
}

h3{
text-align: center;
}

.card-header{
background: #754798;
color: white;
}

#button-add-more-plan{
max-width: 40%;
margin-left: auto;
margin-right: auto;
border: 0px;
border-radius: 0px;
}

#button-logout{
float: right;
border: 0px;
border-radius: 0px;
margin-right: 5%;
}

#button-delete{
float: right;
border: 0px;
border-radius: 0px;
}

.accordion-toggle {
    border-radius: 5px;
	position: relative;
	display: block;
	padding: 10px;
	font-size: 1.5em;
	font-weight: 300;
	background-color: pink;
	text-decoration: none;
}
.accordion-toggle.open,.accordion-toggle:hover {
	background:black;
}
.accordion-toggle span.toggle-icon {
	position: absolute;
	top: 9px;
	right: 20px;
}
.accordion-content {
	display: none;
	padding: 20px;
    overflow: auto;
    background-color:#F3E2E2;
}

