/*general style*/
body {
	background-image: linear-gradient(to bottom right, white 45%, #e7e7e7);
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 0.9em;
}

h3, h4{
	font-weight: 600;
}

section {
	margin-top: 5vh;
	padding: 0 5vw 2em;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

/*navbar style*/
nav {
	background-image: linear-gradient(to right, #2D91DE, #754798);	
}

a {
	color: white;
}

a:hover {
	color: black;
/*	transition-duration: 0.4s;*/
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:hover {
	background-color: #e7e7e7;
}
ul {
	justify-content: center;
}

li {
	margin-left: 5vw;
	margin-right: 5vw;
}

/*add more information box*/
.add_informasi{
	width: 15vw;
	background-image: linear-gradient(to right, #2D91DE, #754798);
	color: white;
	font-weight: 600;
	font-size: 0.9em;
	margin: 2vh 0 2vh 71vw;
}

/*card style*/
article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	width: 41vw;
	margin: 2vh 0;
}

.card:nth-child(odd) {
	margin-right: 2vw; 
}

.card-text{
	font-weight: 400;
	margin-bottom: 1.5em;
}

.btn {
	width: 15vw;
	background-image: linear-gradient(to right, #2D91DE, #754798);
	color: white;
	padding: 0.5em 0;
	font-size: 0.9em;
	border: 0px solid black;
	margin-bottom: 1.5em;
}


/*form style*/

.box {
	width: 25vw;
	margin: auto;
	background-color: white;
	padding: 2em;
}

h4 {
	margin-bottom: 1em;
}
form{
	font-size: 0.9em;
	text-align: left;
}

p {
	margin-bottom: 2em;
}

label {
	margin-bottom: 0;
}

.form-style {
	width: 20vw;
	margin: 0;
	padding-right: 0;
	display: block;
	background-color: transparent;
    border: 0px solid transparent ;
    border-bottom: 1.5px solid #D8D8D8 ;
}

.form-style:hover {
	border-bottom-width: 1.5px;
	border-image:linear-gradient(to right, #2D91DE, #754798) 1;
}

.form-style:focus {
	outline-color: #2D91DE;
}

#id_short_Description {
	border: 1px solid #D8D8D8;
}

.submit {
	width: 20vw;
	background-image: linear-gradient(to right, #2D91DE, #754798);
	color: white;
	padding: 0.5em 0;
	border: 0px solid black;
}
