body{
    background:linear-gradient(119.13deg, #FFFFFF, #E7E7E7);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    min-height: 85vh;
  
}

.container{
    background: #FFFFFF;
    border-radius: 21px;
    margin: auto;
    width: 35vw;
    padding: 2em;
    margin-top: 5vw;

}

section {
    margin-top: 15vh;
    padding: 0 5vw 2em;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: 0.9em;
}

h4{
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#submit{
    width: 100%;
    background-image: linear-gradient(to right, #2D91DE, #754798);
    color: white;
    padding: 0.5em 0;
    border: 0px solid black;
    font-size: small;
}

.container input:focus{
    outline-color: #2D91DE;
}

.container input:hover{
    border-image:linear-gradient(to right, #2D91DE, #754798) 1;
}

.container input{
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    height: 2vw;
    width: 100%;
    margin-bottom: 1vw;
}

.form-control input{
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    height: 3vw;
    width: 100%;
 
}

#id_Image{
    border: none;
    
}

label{
    margin-bottom: .9rem;
}


h1{
    justify-content: center;
    display:flex;
}

.row{
    margin-top: 2rem;
    

}

.col-sm-6{
    margin-top: 30px
}

.card{
    border-radius: 21px;
    margin: auto;
}

#button{
    position: relative;
    display: block;
    height:35;
    width:200;
    font-size: 15px;
    background: linear-gradient(90deg, #2D91DE 0%, #754798 100%);
    color:#FFFFFF;
    letter-spacing: 1px;
    margin: auto;
}

#button_add{
    position: relative;
    display: block;
    height:35;
    width:250;
    font-size: 15px;
    background: linear-gradient(90deg, #2D91DE 0%, #754798 100%);
    color:#FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    
}

.h4{
    display: flex;
    justify-content:flex-end;
    margin-top: 30px;
}

img{
    width: 10vw;
    margin: auto;

}