

    {% extends 'fun_front/base_fun.html' %}


    {% block title %}
        <title>Add Your Recommendation</title>

        

    {% endblock %}

   
        {% block sub-section %}

        <section class="add-section">
        <div class="container">
            <h4>What's Your Recommendation?</h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group,form-control">
                  <label>Title :</label>
                  {{form.Title}}
                </div>

                <div class="form-group,form-control">
                    <label>Link :</label>
                    {{form.Link}}
                  </div>

                <div class="form-group,form-control-file" id="exampleFormControlFile1" accept="image/*">
                    <label>Image :</label>
                    {{form.Image}}
                </div>
    
                <button type="submit" class="btn btn-primary" id="submit">ADD</button>
              </form>
        </div>
        </section>
        {% endblock %}

