{% extends 'fun_front/base_fun.html' %}
{% load static %}
{% block title %}
        <title>Let's Have Fun</title>

        <style>
          .popup{
            background: rgba(0, 0, 0, 0.6);
            height: 100%;
            width: 95%;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 10;
          }

          .popupcontent{
            background: #FFFFFF;
            border-radius: 21px;
            margin: auto;
            width: 35vw;
            padding: 2em;
            z-index: 10;
          }

          .form-control input{
            border: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.12);
            height: 3vw;
            width: 100%;
        
          }

          #submit{
            width: 100%;
            background-image: linear-gradient(to right, #2D91DE, #754798);
            color: white;
            padding: 0.5em 0;
            border: 0px solid black;
            font-size: small;
        }

          #button_login{
            position: relative;
            display: block;
            height:35;
            width:250;
            font-size: 15px;
            background: linear-gradient(90deg, #2D91DE 0%, #754798 100%);
            color:#FFFFFF;
            letter-spacing: 1px;
            text-align: center;
          }

          .popupcontent input:focus{
              outline-color: #2D91DE;
          }

          .popupcontent input:hover{
              border-image:linear-gradient(to right, #2D91DE, #754798) 1;
          }

          .popupcontent input{
              border: none;
              border-bottom: 2px solid rgba(0, 0, 0, 0.12);
              height: 2vw;
              width: 100%;
              margin-bottom: 1vw;
          }
  
        </style>
{% endblock %}


        {% block sub-section %}
        <section class="add-section">
        <h1>To Do To Have Fun</h1>
        

        <h3 class="h4"><a href="#" class="btn btn-primary" id="button_add">Let's Recommend Something</a></h2>

          {% if user.is_authenticated %}
          <div class = "popup">
            <div class="popupcontent">
              <i class="far fa-times-circle" id="close" style="cursor: pointer;"></i>
              <h4>What's Your Recommendation?</h4>
                <form method="POST" enctype="multipart/form-data" id="createTaskForm" data-url="{% url 'fun:fun_home' %}">
                  {% csrf_token %}
                  <div class="form-group,form-control">
                    <label>Title :</label>
                    {{form.Title}}
                  </div>

                  <div class="form-group,form-control">
                      <label>Link :</label>
                      {{form.Link}}
                    </div>

                  <!-- <div class="form-group,form-control-file" id="exampleFormControlFile1" accept="image/*">
                      <label>Image :</label>
                      {{form.Image}}
                  </div> -->
    
                <button type="submit" class="btn btn-primary" id="submit">ADD</button>
              </form>
                
            </div>
          </div>

          {% else %}
          
          <div class = "popup">
            <div class="popupcontent">
              <i class="far fa-times-circle" id="close" style="cursor: pointer;"></i>
              <h3 style="text-align: center;">You need to login first</h3>
              <h3 class="h4" style="display: flex;justify-content: center;"><a href="{% url 'login' %}" class="btn btn-primary" id="button_login">LOGIN HERE</a></h3>
            </div>
          </div>

          {% endif %}

          <article class="row">
              {% for fun in fun_object %}
                <div class="card mb-3">
                    <div class="card-body">
                      <h5 class="card-title">{{fun.Title}}</h5>
                      <a href="{{fun.Link}}" class="btn btn-primary" id="button">Read More</a>
                    </div>
                  </div>
              {% endfor %}
          </article>


        <script type="text/javascript">
          document.getElementById("button_add").addEventListener("click", function(){
            document.querySelector(".popup").style.display="flex";
          })

          document.getElementById("close").addEventListener("click", function(){
            document.querySelector(".popup").style.display="none";
          })

          $(".card-body").mouseover(function(){
            var index = $('.card-body').index(this);
            $('.card-body:eq('+index+')').css('cursor', 'pointer');
          });


          $(document).ready(function(){
            $("#createTaskForm").submit(function(e){
              e.preventDefault();
              var serializedData = $("#createTaskForm").serialize();

              $.ajax({
                url: $("#createTaskForm").data('url'),
                data: serializedData,
                type: 'post',
                success: function(response){
                  $("article").append('<div class="card mb-3"><div class="card-body"><h5 class="card-title">'+response.fun.Title+'</h5><a href="'+response.fun.Link+'" class="btn btn-primary" id="button">Read More</a></div></div>')
                  document.querySelector(".popup").style.display="none";
                }
              })
              $("#createTaskForm").trigger("reset");
            });
          });
        </script>
    </section>
        {% endblock %}`

