/*navbar style*/
nav {
	background-image: linear-gradient(to right, #2D91DE, #754798);	
	font-family: 'Montserrat', sans-serif;
}

.nav-link {
	color: white;
	font-weight: 600;
	font-size: 0.9em;
}

.nav-link:hover {
	color: black;
/*	transition-duration: 0.4s;*/
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:hover {
	background-color: #e7e7e7;
}
ul {
	justify-content: center;
}

li {
	margin-left: 4vw;
	margin-right: 4vw;
}