body{
    background:linear-gradient(119.13deg, #FFFFFF, #E7E7E7);
    margin:0;
    padding: 0;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    display:flex;
    justify-content:center;
    margin-top: 2em;
    background: -webkit-linear-gradient(270deg, #2D91DE 8.33%, #754798 95.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}

.container, .menu{
    height: 140px;
    width:160px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
}

.menu{
    z-index: -1; /*cari google*/
    cursor: pointer;
}

.toggle{
    height: 140px;
    width:160px;
    background: linear-gradient(to bottom, #2D91DE 8.33%, #754798 95.47%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%,75% 100%, 25% 100%, 0% 50%);
    transition: 1s;
    cursor: pointer;
    /*height: 0;
    width: 80px;
    border-bottom: 70px solid #2D91DE;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top:0;
    transition: 1s;*/
}

/*.toggle::before{
    content: ''; 
    height: 0;
    width: 80px;
    border-top: 70px solid #754798;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top:70px;
    left: -40px;
}*/

.item{
    height: 0;
    width: 80px;
    border-bottom: 70px solid white;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top:0;
    transition: 1s;
}

.item::before{
    content: '';
    height: 0;
    width: 80px;
    border-top: 70px solid white;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    position: absolute;
    top:70px;
    left: -40px;
}

.img1{
    position: relative;
    top: 25px;
    left: 1px;
    height: 80px;
    width: 80px;
}

.img2{
    position: relative;
    top: 20px;
    right: 10px;
    height: 100px;
    width: 100px;
}

.img3{
    position: relative;
    top: 13px;
    right: 15px;
    height: 110px;
    width: 110px;
}

.img6{
    position: relative;
    top: 35px;
    left: 5px;
    height: 70px;
    width: 70px;
}

.img4{
    position: relative;
    top: 25px;
    left: 35px;
    height: 90px;
    width: 90px;
}


/*about us style*/
.about {
    min-height: 90vh;
}

.about h3 {
    font-weight: 600;
}

.about-text {
    width: 30vw;
    padding-bottom: 1em;
    border-bottom: 4px solid black;
    border-image:linear-gradient(to right, #2D91DE, #754798) 1;
}
.container-about {
    background-color: white;
    width: 70vw;
    min-height: 70vh;
}
.linked-in-container a {
    color: #754798;
    font-weight: 500;
    margin-right: 1em;
}