{% extends 'covid/base-covid.html' %}
{% block heading %}
{% for country in country %}
        <title>{{country.name}}</title>
        {% endfor %}

        {% endblock %}
    
        {% block sub-section %}
        <section class="add-section1">
        {% for country in country %}
            <h1>{{country.name}}</h1>


        <div class="row">

              <div class="card">
                <div class="circle">
                    <div class="card-body">
                        <h5 class="card-title">WHO Region</h5>
                    </div>
                </div>
                <h2>{{country.region}}</h2>
              </div>
            
              <div class="card">
                <div class="circle" id="cases">
                    <div class="card-body">
                        <h5 class="card-title">Total Cases</h5>
                    </div>
                </div>
                <h2  id="blue">{{country.total_cases}}</h2>
              </div>


              <div class="card" >
                    <div class="circle" id="death">
                        <div class="card-body">
                            <h5 class="card-title">Total Death</h5>
                        </div>
                    </div>
                    <h2 id="red">{{country.total_deaths}}</h2>
                </div>

                <div class="card">
                    <div class="circle">
                        <div class="card-body">
                            <h5 class="card-title">Transmission Classification</h5>
                        </div>
                    </div>
                    <h2>{{country.transmission}}</h2>
                </div>
   
     
                <div class="card">
                    <div class="circle">
                        <div class="card-body">
                            <h5 class="card-title">Total Cases per Million</h5>
                        </div>
                    </div>
                    <h2>{{country.total_cases_per_million}}</h2>
                </div>

                <div class="card">
                    <div class="circle">
                        <div class="card-body">
                            <h5 class="card-title">Total Death Per Million</h5>
                        </div>
                    </div>
                    <h2>{{country.total_deaths_per_million}}</h2>
                </div>
          
        </div>
        </section>
        {% endfor %}
        {% endblock %}

