{% extends 'covid/base-covid.html' %}

{% block title %}
<title>COVID Information per Country</title>
{% endblock %}

{% block sub-section %}
<section class="home-section text-center">
  <h3 class="mx-auto mb-4">Coronavirus Disease (COVID-19) Information per Country</h3>

  <!-- messages if country not found -->
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger text-left mx-auto {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <form action="{% url 'info_covid:country_detail' %}" method="GET" class="text-left">
    <div class="search-box border rounded">
      {% csrf_token %}
      {{ form.name.errors }}
      {{ form.name }}
      <i class="fas fa-search pr-4"></i>
    </div>
    
  </form>
    <table class="table mx-auto mt-4 text-left table-hover">
      <caption>Data from <a href="https://covid19.who.int/table">WHO Coronavirus Disease (COVID-19) Dashboard</a>. Last updated 20 November 2020</caption>
        <thead>
          <tr>
            <th scope="col" id="th-name">Name</th>
            <th scope="col">WHO Region</th>
            <th scope="col">Total Cases</th>
            <th scope="col">Total Cases per Million</th>
            <th scope="col">Total Death</th>
            <th scope="col">Total Death Per Million</th>
            <th scope="col">Transmission Classification</th>
          </tr>
        </thead>
        <tbody>
          {% for country in database_covid %}
          <tr>
            <td id="th-name">{{country.name}}</td>
            <td>{{country.region}}</td>
            <td>{{country.total_cases}}</td>
            <td>{{country.total_cases_per_million}}</td>
            <td>{{country.total_deaths}}</td>
            <td>{{country.total_deaths_per_million}}</td>
            <td>{{country.transmission}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="more text-center"> Want to see more country? <a class="more ml-1" href="{% url 'login' %}"> Login Now! </a> </p>
</section>
{% endblock %}